.wcap-preview-btn-div .wcap-preview-btn {
  color: #fff;
  box-shadow: none !important;
}

.entry-summary .wcap-preview-btn-div a.wcap-preview-btn {
  text-decoration: unset !important;
}

.summary.entry-summary .wcap-preview-btn-div {
  padding: 10px;
  vertical-align: middle;
  background-color: #a46497;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

.wcap-player-cl {
  display: none;
  padding: 10px 45px;
  background: #242021;
  vertical-align: middle;
  line-height: 1px;
  margin-bottom: 10px;
}

.wcap-audio-playlist-row {
  display: block;
  margin: 10px 0;
  width: 100%;
  zoom: 1;
}
.wcap-audio-small-toggle-btn {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
.wcap-audio-number {
  display: inline-block;
}
.wcap-audio-title {
  display: inline-block;
}
