/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
.wcap-preview-btn-div .wcap-preview-btn {
    color: #fff;
    box-shadow: none !important;
}

.wcap-preview-btn-div a.wcap-preview-btn {
    text-decoration: none !important;
}

.summary.entry-summary .wcap-preview-btn-div {
    margin: 10px 0 0 !important;
}

.summary.entry-summary .wcap-preview-btn-div .button {
    width: 100%;
    text-align: center;
    border-radius: 0;
}

.wcap-player-cl {
    display: none;
    margin-bottom: 10px;
    padding: 15px 25px;
    text-align: center;
    background: #242021;
    vertical-align: middle;
    line-height: 1px;
}

.wcap-player-cl audio {
    width: calc(100% - 50px);
    margin: auto;
}

.wcap-audio-playlist-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 10px 0;
    width: 100%;
}

.wcap-audio-small-toggle-btn .dashicons {
    padding-left: 2px;
}

.wcap-audio-small-toggle-btn {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border: 1px solid #d9d9d9;
}

.wcap-audio-number {
    margin: 0 5px 0 0;
}

.wcap-audio-title {
    display: inline-block;
}

.woocommerce div.product form.cart {
    margin-top: 1em;
}